{"openapi":"3.0.0","info":{"title":"Hotel Booking API","version":"1.0.0"},"servers":[{"url":"https://api.tripedge.com/api","description":"API server"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"API key for authentication"}},"schemas":{"HotelResult":{"type":"object","properties":{"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"rates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomType":{"type":"string"},"board":{"type":"string"},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["id","roomType","board","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","cancellationPolicy","cancellationPolicyDate"]}}},"required":["hotel","rates"]},"AvailabilityFilter":{"type":"object","properties":{"priceRange":{},"starRating":{"type":"array","items":{"type":"number","minimum":1,"maximum":5}},"propertyTypes":{"type":"array","items":{"type":"string","enum":["Hotel","Aparthotel"]}},"amenities":{"type":"array","items":{"type":"string"}},"roomType":{"type":"string"},"sortBy":{"type":"string","enum":["price_low","price_high","rating","distance"]}}},"AvailabilitySearchResponse":{"type":"object","properties":{"sessionId":{"type":"string"},"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"metadata":{"type":"object","properties":{"total":{"type":"number"},"totalPages":{"type":"number"},"maxTotalPrice":{"type":"number"},"nights":{"type":"number"},"centerCoordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"destinationName":{"type":"string"}},"required":["total","totalPages","maxTotalPrice","nights","destinationName"]},"results":{"type":"array","items":{"type":"object","properties":{"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"rates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomType":{"type":"string"},"board":{"type":"string"},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["id","roomType","board","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","cancellationPolicy","cancellationPolicyDate"]}}},"required":["hotel","rates"]}},"expiresAt":{"type":"string"}},"required":["sessionId","search","metadata","results","expiresAt"]},"AvailabilitySearchRequest":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"checkOut":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number","minimum":1,"maximum":14},"children":{"type":"number","minimum":0,"maximum":6},"childrenAges":{"type":"array","items":{"type":"number","minimum":0,"maximum":17}}},"required":["adults","children","childrenAges"]},"minItems":1,"maxItems":8},"filters":{"type":"object","properties":{"priceRange":{},"starRating":{"type":"array","items":{"type":"number","minimum":1,"maximum":5}},"propertyTypes":{"type":"array","items":{"type":"string","enum":["Hotel","Aparthotel"]}},"amenities":{"type":"array","items":{"type":"string"}},"roomType":{"type":"string"},"sortBy":{"type":"string","enum":["price_low","price_high","rating","distance"]}}}},"required":["destinationId","checkIn","checkOut","rooms"]},"BookCreateRequest":{"type":"object","properties":{"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","enum":["Mr","Mrs","Ms","Miss"]},"firstName":{"type":"string","minLength":1},"lastName":{"type":"string","minLength":1}},"required":["title","firstName","lastName"]}},"children":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","enum":["Mr","Mrs","Ms","Miss"]},"firstName":{"type":"string","minLength":1},"lastName":{"type":"string","minLength":1},"age":{"type":"number","minimum":0,"maximum":17}},"required":["title","firstName","lastName","age"]}}},"required":["adults","children"]}},"email":{"type":"string","format":"email"},"phone":{"type":"string","minLength":1},"paymentNonce":{"type":"string","minLength":1}},"required":["rooms","email","phone"]},"BookCreateResponse":{"type":"object","properties":{"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"booking":{"type":"object","properties":{"id":{"type":"number"},"status":{"type":"string","enum":["confirmed","pending","cancelled"]},"voucher":{"type":"string"},"hotelId":{"type":"number"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"lines":{"type":"array","items":{"type":"object","properties":{"lineText":{"type":"string"},"amount":{"type":"string"}},"required":["lineText","amount"]}},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"remarks":{"type":"string"},"roomType":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"required":["title","firstName","lastName"]}},"children":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"age":{"type":"number"}},"required":["title","firstName","lastName","age"]}}},"required":["adults","children"]}},"clientCommission":{"type":"string"},"paymentMethod":{"type":"string","enum":["creditCard","account"]},"userId":{"type":"number"},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]}},"required":["id","status","voucher","hotelId","checkIn","checkOut","firstName","lastName","email","phone","lines","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","remarks","roomType","cancellationPolicy","cancellationPolicyDate","rooms","clientCommission","paymentMethod","userId","hotel"]}},"required":["search","hotel","booking"]},"BookCancelDetailsResponse":{"type":"object","properties":{"cancellationFee":{"type":"number"}},"required":["cancellationFee"]},"BookListGETResponse":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"status":{"type":"string","enum":["confirmed","pending","cancelled"]},"voucher":{"type":"string"},"hotelId":{"type":"number"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"lines":{"type":"array","items":{"type":"object","properties":{"lineText":{"type":"string"},"amount":{"type":"string"}},"required":["lineText","amount"]}},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"remarks":{"type":"string"},"roomType":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"required":["title","firstName","lastName"]}},"children":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"age":{"type":"number"}},"required":["title","firstName","lastName","age"]}}},"required":["adults","children"]}},"clientCommission":{"type":"string"},"paymentMethod":{"type":"string","enum":["creditCard","account"]},"userId":{"type":"number"},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]}},"required":["id","status","voucher","hotelId","checkIn","checkOut","firstName","lastName","email","phone","lines","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","remarks","roomType","cancellationPolicy","cancellationPolicyDate","rooms","clientCommission","paymentMethod","userId","hotel"]}},"DestinationsSearchResponse":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"HotelDetailsResponse":{"type":"object","properties":{"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"rates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomType":{"type":"string"},"board":{"type":"string"},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["id","roomType","board","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","cancellationPolicy","cancellationPolicyDate"]}},"metadata":{"type":"object","properties":{"nights":{"type":"number"}},"required":["nights"]}},"required":["hotel","rates","metadata"]},"PrebookCreateResponse":{"type":"object","properties":{"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"booking":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"object","properties":{"lineText":{"type":"string"},"amount":{"type":"string"}},"required":["lineText","amount"]}},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"remarks":{"type":"string"},"roomType":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["lines","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","remarks","roomType","cancellationPolicy","cancellationPolicyDate"]}},"required":["search","hotel","booking"]}}},"paths":{"/availability/{sessionId}":{"get":{"summary":"Get search results by session ID","operationId":"getAvailabilityBySessionId","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"sessionId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"Search results found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"object","properties":{"sessionId":{"type":"string"},"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"metadata":{"type":"object","properties":{"total":{"type":"number"},"totalPages":{"type":"number"},"maxTotalPrice":{"type":"number"},"nights":{"type":"number"},"centerCoordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"destinationName":{"type":"string"}},"required":["total","totalPages","maxTotalPrice","nights","destinationName"]},"results":{"type":"array","items":{"type":"object","properties":{"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"rates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomType":{"type":"string"},"board":{"type":"string"},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["id","roomType","board","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","cancellationPolicy","cancellationPolicyDate"]}}},"required":["hotel","rates"]}},"expiresAt":{"type":"string"}},"required":["sessionId","search","metadata","results","expiresAt"]}}}}}}}},"post":{"summary":"Search for hotel availability with session ID","operationId":"searchAvailabilityWithSessionId","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"sessionId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"checkOut":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number","minimum":1,"maximum":14},"children":{"type":"number","minimum":0,"maximum":6},"childrenAges":{"type":"array","items":{"type":"number","minimum":0,"maximum":17}}},"required":["adults","children","childrenAges"]},"minItems":1,"maxItems":8},"filters":{"type":"object","properties":{"priceRange":{},"starRating":{"type":"array","items":{"type":"number","minimum":1,"maximum":5}},"propertyTypes":{"type":"array","items":{"type":"string","enum":["Hotel","Aparthotel"]}},"amenities":{"type":"array","items":{"type":"string"}},"roomType":{"type":"string"},"sortBy":{"type":"string","enum":["price_low","price_high","rating","distance"]}}}},"required":["destinationId","checkIn","checkOut","rooms"]}}}},"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"object","properties":{"sessionId":{"type":"string"},"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"metadata":{"type":"object","properties":{"total":{"type":"number"},"totalPages":{"type":"number"},"maxTotalPrice":{"type":"number"},"nights":{"type":"number"},"centerCoordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"destinationName":{"type":"string"}},"required":["total","totalPages","maxTotalPrice","nights","destinationName"]},"results":{"type":"array","items":{"type":"object","properties":{"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"rates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomType":{"type":"string"},"board":{"type":"string"},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["id","roomType","board","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","cancellationPolicy","cancellationPolicyDate"]}}},"required":["hotel","rates"]}},"expiresAt":{"type":"string"}},"required":["sessionId","search","metadata","results","expiresAt"]}}}}}}}}},"/availability":{"post":{"summary":"Search for hotel availability","operationId":"searchAvailability","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"checkOut":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number","minimum":1,"maximum":14},"children":{"type":"number","minimum":0,"maximum":6},"childrenAges":{"type":"array","items":{"type":"number","minimum":0,"maximum":17}}},"required":["adults","children","childrenAges"]},"minItems":1,"maxItems":8},"filters":{"type":"object","properties":{"priceRange":{},"starRating":{"type":"array","items":{"type":"number","minimum":1,"maximum":5}},"propertyTypes":{"type":"array","items":{"type":"string","enum":["Hotel","Aparthotel"]}},"amenities":{"type":"array","items":{"type":"string"}},"roomType":{"type":"string"},"sortBy":{"type":"string","enum":["price_low","price_high","rating","distance"]}}}},"required":["destinationId","checkIn","checkOut","rooms"]}}}},"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"object","properties":{"sessionId":{"type":"string"},"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"metadata":{"type":"object","properties":{"total":{"type":"number"},"totalPages":{"type":"number"},"maxTotalPrice":{"type":"number"},"nights":{"type":"number"},"centerCoordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"destinationName":{"type":"string"}},"required":["total","totalPages","maxTotalPrice","nights","destinationName"]},"results":{"type":"array","items":{"type":"object","properties":{"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"rates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomType":{"type":"string"},"board":{"type":"string"},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["id","roomType","board","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","cancellationPolicy","cancellationPolicyDate"]}}},"required":["hotel","rates"]}},"expiresAt":{"type":"string"}},"required":["sessionId","search","metadata","results","expiresAt"]}}}}}}}}},"/book/{sessionId}/{hotelId}/{rateId}/{paymentMethod}":{"post":{"summary":"Create a booking","operationId":"createBooking","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"sessionId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"hotelId","schema":{"type":"string"},"required":true},{"in":"path","name":"rateId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"paymentMethod","schema":{"type":"string","enum":["creditCard","account"]},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","enum":["Mr","Mrs","Ms","Miss"]},"firstName":{"type":"string","minLength":1},"lastName":{"type":"string","minLength":1}},"required":["title","firstName","lastName"]}},"children":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","enum":["Mr","Mrs","Ms","Miss"]},"firstName":{"type":"string","minLength":1},"lastName":{"type":"string","minLength":1},"age":{"type":"number","minimum":0,"maximum":17}},"required":["title","firstName","lastName","age"]}}},"required":["adults","children"]}},"email":{"type":"string","format":"email"},"phone":{"type":"string","minLength":1},"paymentNonce":{"type":"string","minLength":1}},"required":["rooms","email","phone"]}}}},"responses":{"200":{"description":"Booking created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"object","properties":{"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"booking":{"type":"object","properties":{"id":{"type":"number"},"status":{"type":"string","enum":["confirmed","pending","cancelled"]},"voucher":{"type":"string"},"hotelId":{"type":"number"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"lines":{"type":"array","items":{"type":"object","properties":{"lineText":{"type":"string"},"amount":{"type":"string"}},"required":["lineText","amount"]}},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"remarks":{"type":"string"},"roomType":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"required":["title","firstName","lastName"]}},"children":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"age":{"type":"number"}},"required":["title","firstName","lastName","age"]}}},"required":["adults","children"]}},"clientCommission":{"type":"string"},"paymentMethod":{"type":"string","enum":["creditCard","account"]},"userId":{"type":"number"},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]}},"required":["id","status","voucher","hotelId","checkIn","checkOut","firstName","lastName","email","phone","lines","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","remarks","roomType","cancellationPolicy","cancellationPolicyDate","rooms","clientCommission","paymentMethod","userId","hotel"]}},"required":["search","hotel","booking"]}}}}}}}}},"/book":{"get":{"summary":"Get all bookings","operationId":"getAllBookings","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"List of bookings","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"status":{"type":"string","enum":["confirmed","pending","cancelled"]},"voucher":{"type":"string"},"hotelId":{"type":"number"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"lines":{"type":"array","items":{"type":"object","properties":{"lineText":{"type":"string"},"amount":{"type":"string"}},"required":["lineText","amount"]}},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"remarks":{"type":"string"},"roomType":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"required":["title","firstName","lastName"]}},"children":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"age":{"type":"number"}},"required":["title","firstName","lastName","age"]}}},"required":["adults","children"]}},"clientCommission":{"type":"string"},"paymentMethod":{"type":"string","enum":["creditCard","account"]},"userId":{"type":"number"},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]}},"required":["id","status","voucher","hotelId","checkIn","checkOut","firstName","lastName","email","phone","lines","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","remarks","roomType","cancellationPolicy","cancellationPolicyDate","rooms","clientCommission","paymentMethod","userId","hotel"]}}}}}}}}}},"/book/precancel/{bookingId}":{"get":{"summary":"Get cancellation details","operationId":"getCancellationDetails","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"bookingId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Cancellation details","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"object","properties":{"cancellationFee":{"type":"number"}},"required":["cancellationFee"]}}}}}}}}},"/book/cancel/{bookingId}":{"get":{"summary":"Cancel a booking","operationId":"cancelBooking","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"bookingId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Booking cancelled"}}}},"/book/voucher/{bookingId}":{"get":{"summary":"Get booking voucher","operationId":"getBookingVoucher","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"bookingId","schema":{"type":"string"},"required":true}],"responses":{"302":{"description":"Redirect to voucher URL"}}}},"/destinations":{"get":{"summary":"Search destinations","operationId":"searchDestinations","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"query","name":"query","schema":{"type":"string"},"required":false}],"responses":{"200":{"description":"List of destinations","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}}}}}}}}}},"/hotel/{sessionId}/{hotelId}":{"get":{"summary":"Get hotel details","operationId":"getHotelDetails","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"sessionId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"hotelId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Hotel details","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"object","properties":{"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"rates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomType":{"type":"string"},"board":{"type":"string"},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["id","roomType","board","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","cancellationPolicy","cancellationPolicyDate"]}},"metadata":{"type":"object","properties":{"nights":{"type":"number"}},"required":["nights"]}},"required":["hotel","rates","metadata"]}}}}}}}}},"/prebook/{sessionId}/{hotelId}/{rateId}/{paymentMethod}":{"get":{"summary":"Create a pre-booking","operationId":"createPreBooking","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"path","name":"sessionId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"hotelId","schema":{"type":"string"},"required":true},{"in":"path","name":"rateId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"paymentMethod","schema":{"type":"string","enum":["creditCard","account"]},"required":true}],"responses":{"200":{"description":"Pre-booking created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","nullable":true,"description":"Response message, null if successful"},"data":{"type":"object","properties":{"search":{"type":"object","properties":{"destinationId":{"type":"string"},"checkIn":{"type":"string"},"checkOut":{"type":"string"},"rooms":{"type":"array","items":{"type":"object","properties":{"adults":{"type":"number"},"children":{"type":"number"},"childrenAges":{"type":"array","items":{"type":"number"}}},"required":["adults","children","childrenAges"]}}},"required":["destinationId","checkIn","checkOut","rooms"]},"hotel":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"stars":{"type":"number","minimum":1,"maximum":5},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"address":{"type":"object","properties":{"address":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"}}},"rating":{"type":"number","minimum":0,"maximum":5},"reviews":{"type":"number","minimum":0},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"amenities":{"type":"array","items":{"type":"string"}},"location":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"exclusive":{"type":"boolean"},"type":{"type":"string"}},"required":["id","name","stars","address","rating","reviews","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","amenities","location","images","exclusive","type"]},"booking":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"object","properties":{"lineText":{"type":"string"},"amount":{"type":"string"}},"required":["lineText","amount"]}},"pricePerNight":{"type":"string"},"priceFees":{"type":"string"},"priceDueAtHotel":{"type":"string"},"priceInclusive":{"type":"string"},"priceChargeable":{"type":"string"},"currency":{"type":"string"},"remarks":{"type":"string"},"roomType":{"type":"string"},"cancellationPolicy":{"type":"string"},"cancellationPolicyDate":{"type":"string"}},"required":["lines","pricePerNight","priceFees","priceDueAtHotel","priceInclusive","priceChargeable","currency","remarks","roomType","cancellationPolicy","cancellationPolicyDate"]}},"required":["search","hotel","booking"]}}}}}}}}}}}